

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;

  background: #a7c77c; /* Old browsers */
  background-image: url("../images/bg.png"), -moz-linear-gradient(top,  #a7c77c 0%, #a7c77c 10%, #ffffff 32%, #ffffff 100%); /* FF3.6+ */
  background-image: url("../images/bg.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c77c), color-stop(10%,#a7c77c), color-stop(32%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background-image: url("../images/bg.png"), -webkit-linear-gradient(top,  #a7c77c 0%,#a7c77c 10%,#ffffff 32%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background-image: url("../images/bg.png"), -o-linear-gradient(top,  #a7c77c 0%,#a7c77c 10%,#ffffff 32%,#ffffff 100%); /* Opera 11.10+ */
  background-image: url("../images/bg.png"), -ms-linear-gradient(top,  #a7c77c 0%,#a7c77c 10%,#ffffff 32%,#ffffff 100%); /* IE10+ */
  background-image: url("../images/bg.png"), linear-gradient(to bottom,  #a7c77c 0%,#a7c77c 10%,#ffffff 32%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c77c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  background-position: center top;
  background-repeat: no-repeat;

background-position: center top;
background-repeat: no-repeat;

}

.container {
  width: 1000px !important;
  padding-top:50px;
  border: 0 1px solid green;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  background: #fff;
}


p label {
  font-size: 16px;
}

input[type=text] {
  padding: 5px;
}

.row {
  vertical-align: middle;
  margin: auto 25px 60px 25px;
}

#title {
  text-align: center;
  margin-bottom: 40px;
}

#locationcode {
  width: 50%;
}

#locationname {
  width: 75%;
}

#opacdisplayname {
  width: 100%;
}

#jump-codes, #location-codes {
  display: none;
  width: 75%;
  margin: 0 auto;
}

#submit-btn {
  margin: 25px auto ;
}